.cal-header{width: 1920px;}
.cal-header .header-cont{display: flex;justify-content: space-between;margin-top: 30px;}
.cal-header .header-cont .prev, .cal-header .header-cont .next{flex-grow: 1;}
.cal-header .header-cont .month{flex-grow: 2;text-align: center;}
.cal-header .header-cont .prev{text-align: left;}
.cal-header .header-cont .next{text-align: right;}
.btn{background-color: #fff;border: none;}
.btn:hover{background-color: #ccc;}
.btn .icon{width: 2em;height: 2em;}