
*{margin: 0 auto;}
ul, li{list-style:none;}
main{height: calc(100vh - 70px);}

/* font */
@font-face {
  font-family: 'Leferi';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
