.content{max-width: 1920px; margin: 0 auto; height: 100%;}
.content .left{width: 415px; height: 545px; border: 2px solid #000; margin-left: 336px; border-radius: 10px; margin-top: 155px;float: left;}
.content .left .sp{margin-top: -15px;}
.content .left .sp>div{float: left; margin-left: 50px;}
.content .left .sp .line{width: 4px; height: 40px; background-color: #000;}
.content .left .sp .circle{width: 11px; height: 11px; background-color: #000; border-radius: 50%;}
.content .left .option{width: 40px; height: 40px; position: relative; border-radius: 50%; margin-top: 25px; margin-left: 40px; background: rgba(255, 159, 159, .85); border: none; cursor: pointer;}
.content .left .option img{width: 30px; position: absolute; top: 5px; left: 5px;}
.content .right{width: 400px; height: 400px; float: right; margin-right: 285px; margin-top: 220px; box-shadow: 10px 10px 10px #00000029;}
.content .right .sticker{width: 212px; height: 53px; background-color: rgba(255, 159, 159, .85); margin-top: -26px;text-align: center;line-height: 53px;font-size: 20px;font-weight: 700;}
.content .color_revise{position: absolute; top: 790px;left: 455px;}
.content .color_revise>button{border: none; background-color: white;}
.content .color_revise>button:hover{box-shadow: 0 4px 0px -2px #ffaeae;}
button.reset_button{margin-left: 10px;}
.content .post_color_revise{position: absolute; top: 730px; right: 385px; width: 203px;}
.content .post_color_revise>button{border: none; background-color: white;}
.content .post_color_revise>button:hover{box-shadow: 0 4px 0px -2px #ffaeae;}
.content .btn.active{background-color: #fff;}

.option_layout{width: 115px; border: 1px solid black; border-radius: 8px; margin-left: 25px;}
.option_layout button{border: none; background: none; width: 115px; height: 30px;}
.option_layout .revise{border-bottom: 1px solid black;}